@import './scss/styles';

main {
  max-width: 60rem;
  margin: 5rem auto;
  font-family: sans-serif;
}

.whirli-slide {
  font-family: sans-serif;
  
  &.whirli-slide--1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/1191639/pexels-photo-1191639.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-position-y: 60%;
  }
  
  &.whirli-slide--2 {
    display: flex;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/96428/pexels-photo-96428.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position-y: 60%;
  }
  
  &.whirli-slide--3 {
    // box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6); // white overlay
    background-image: url('https://images.unsplash.com/photo-1542358935821-e4e9f3f3c15d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
  }
  
  & .carousel-header--block,
  & .carousel-content--block {
    background-color: #121212;
    padding: 0.5rem;
    color: #fff;
    width: 50%;
    text-align: center;
  }

  & .carousel-header--block {
    @media (min-width: 30rem) {
      width: 25%;
    }
  }

  & .column-right {
    border-radius: 0.5rem;
    background-color: #222;
    color: #f2f2f2;
    padding: 2rem 1rem 2rem 3rem;
    width: 50%;
  
    @media (min-width: 30rem) {
      width: 20%;
    }
  }
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.links {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  text-align: right;
}

.link-wrapper {
  margin-bottom: 1rem;
}

.link-underline {
	position: relative;
	font-size: 1rem;
	text-decoration: none;
	font-weight: 400;
  color: #f247b4;
  font-family: sans-serif;

  &:hover {
    color: #475a79;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    margin: 0;
    left: 0;
    bottom: -25%;
    height: 0.2em;
    width: 100%;
    z-index: -1;
    transition: height 150ms linear;
    background-color: #f247b4;
  }

  &:hover:after {
    height: 0.5em;
  }
}


.attribute {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #121212;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 0 0 0.5rem 0;

  a {
    color: #fff;

    &:hover {
      background-color: hotpink;
      color: #121212;
    }
  }
}