
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title carousel demo - whirligiggle
    meta(name="description", content=description)
    link(href="./demo.css", rel="stylesheet")

  body
    main
      h2.visually-hidden Carousel
      p.visually-hidden 3 slides
      #whirli-carousel
      section.links
        .link-wrapper
          a.link-underline(href="https://github.com/corinneling/whirligig") github repo
        .link-wrapper
          a.link-underline(href="https://www.npmjs.com/package/whirligiggle") npm page
