$c-button-primary: #121212;
$c-button-secondary: #fff;
$c-button-disabled-primary: #f2f2f2;
$c-button-disabled-secondary: #bbb;
$c-dot-primary: #a384e2;
$c-dot-secondary: #121212;

$breakpoint-sm: 30rem;
