@import 'variables';
@import 'mixin';
@import 'arrow-buttons';
@import 'dots';

#whirli-carousel { // you must use this div to embed the carousel if you want these styles 
  width: 100%;
  min-height: 25rem;
  position: relative;
}

.whirli-slide {
  position: absolute;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  background-size: cover;
  transition: opacity 300ms ease-in;

  &[tabindex="0"]:focus {
    @include focus();
  }

  &[aria-hidden="false"] {
    opacity: 1;
  }

  &[aria-hidden="true"] {
    opacity: 0;
    pointer-events: none;
  }

  &.whirli-lazy-img {	
    background-image: none;
    background-color: $c-button-disabled-primary;
  }
}

